<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
</head>

<body class="bg-light">
    <div class="imgBack"> 
        <img src="../../assets/background.png" width="500" height="500">    
    </div>
    <div class="container" style="position: relative;">
        <div class="jumbotron text-center" style="margin-top: 5rem; padding-bottom: 100px;">
            <h1 class="display-4" style="align-items: center;">Cronograma e Gerenciamento de Atividades</h1>
            <br>
            <p class="lead">O projeto deverá ser desenvolvido em linguagem web (Ex: JS, Php, Python), a
                proposta deste projeto consiste em criar uma aplicação capaz de criar cronogramas de
                atividades e o gerenciamento destas atividades, propondo tornar a criação de cronogramas
                e gerenciamento de atividades muito mais dinâmica e automatizado, contendo prazos de
                expiração, envio de relatórios e também alertas para o usuário.</p>
            <hr/>
            <p>Aplicação desenvolvida para a segunda edição do ACADEMY CODING</p>
            <div class="text-center">
                <p><a class="btn btn-lg btn-dark " (click)="loginRoute()">Ir para projeto</a></p>
            </div>
        </div>
        
    </div>
    <app-footer> </app-footer>
</body>
</html>